<div class="">
  <h3>Title: {{title}}</h3>
    <div class="">
      <img src="{{hdurl}}" class=""></img>
      <div class="">Desription: {{{explanation}}}</div>
  </div>
    <div>Date: {{date}}</div>
</div>
