<li><img src="{{img_src}}" style="width: 350px; height: 350px;"></img>
  <div class="rover-info">
    <strong>{{rover.name}}</strong>
    <br>
    <strong>{{camera.full_name}}</strong>
    <br>
    Rover Status: <strong>{{rover.status}}</strong>
 </div>
</li>
