<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Number of Near Earth Objects Today</h3>
  </div>
  <div class="panel-body">
    {{element_count}}
  </div>
</div>
