<div class="single-search-result-sounds">
  <h3>{{title}}</h3>
  <h5>Description: {{description}}</h5>
  <h6>SoundCloud: <a href="https://soundcloud.com/nasa" target="_blank">NASA SoundCloud</a></h6>
  <!-- <h5>Download Url: {{download_url}}</h5>
  <h5>Stream Url: {{stream_url}}</h5> -->
</div>
