<div class="single-search-result-sounds">
  <h3>Title: {{title}}</h3>
  <h3>Download Url: {{download_url}}</h3>
  <h3>Stream Url: {{stream_url}}</h3>
    <div>Camera: {{camera.full_name}}</div>
</div>
