$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: black;
}

.apod-results, .search-apod {
  color: #bc509c;
}

.fa-trash-o, .fa-pencil, .fa-globe, .fa-space-shuttle {
  font-size: 20px;
}

.panel-default > .panel-heading {
  background-color: #fce2f4;
  border-color: #fce2f4;
}

.neo-result {
  font-size: 50px;
  text-align: center;
}

.picture-photo {
  margin: auto;
}

.picture-favorite:hover {
  background-color: #fce2f4;
}

.apod-results {
  text-align: center;
}

.apod-photo {
  width: 90%;
  height: 90%;
}

.search-result-photo-mars {
  width: 99%;
  height: 99%;

}

.picture-photo {
  width: 95%;
  height: 95%;
}

.search-container {
  display: flex;
}

.search-parameters {
  flex-basis: 25%;
}

.search-results {
  flex-basis: 75%;

}

body {
  padding-top: 80px;
}

.navbar-default {
    // background-color: black;
    // background: url(../img/nav.jpg) no-repeat center center;
    border-color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    background: url(../img/nav.jpg) center;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bc509c;
  background-color: #fce2f4;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bc509c;
    background-color: #fce2f4;
}

.favorites-container, .photo-description-container, .search-result-image-and-description {
  display: flex;
}

.small-comment-header {
  color: #bc509c;
  font-weight: bold;
}

.comments-header {
  color: #bc509c;
  text-align: center;
}

// .search-box {
//   text-align: center;
//   width: 80%;
// }

.single-search-result {
  // border: 1px solid #bc509c;
  border-radius: 3px;
  margin: 2em;
  padding: 1em;
  background-color: #fce2f4;
}

.search-result-photo {
  width: 80px;
  height: 130px;
  margin: 1em;
}

.search-result-description {
  flex-basis: 75%;
}

.picture-photo {
  flex-basis: auto;
  padding: 2em;
}

.picture-title {
  text-align: center;
  color: #bc509c;
}

.favorite-description {
  color: #bc509c;
}

.favorite-date {
  color: #bc509c;
}

.single-search-result-patents, .single-search-result-sounds, .single-search-result-mars {
  background-color: #fce2f4;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
}

.picture-description {
  flex-grow: 1;
  padding: 2em;
}

.change-comment {
  display: none;
  text-align: center;
}

.comment:hover .delete-comment {
  display: inline-block;
  cursor: pointer;
}

.picture-favorite:hover .delete-favorite {
  display: inline-block;
  cursor: pointer;
}

.delete-favorite {
  float: right;
  height: 22px;
  width: 22px;
  display: none;
  font-weight: bold;
  text-align: center;
  color: black;
}

.delete-comment {
  float: right;
  height: 22px;
  width: 22px;
  display: none;
  font-weight: bold;
  text-align: center;
  color: black;
}

.favorites-list {
  flex-basis: 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #2ECAFF;
  background-color: black;
}

// .forms {
//   flex-basis: 18%;
//   padding: 2em;
// }

// .navbar-fixed-top {
//   background-color: #fce2f4;
// }

.comments-list {
  flex-basis: 80%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fce2f4;
  color: #2ECAFF;
}

.picture-favorite.selected {
  background-color: #fce2f4;
}

.comment-container {
  display: flex;
}

.picture-container {
  flex-basis: 33%;
}

.sign-in-container {
  display: flex;
}

#sign-up {
  flex-basis: 50%;
  text-align: center;
}

#sign-in {
  flex-basis: 50%;
  text-align: center;
  // display: block;
}

.change-password-container {
  display: list-item;
  text-align: center;
}

#change-password {
  text-align: center;
}

.picture-favorite {
  padding: 1em;
  font-weight: bold;
}

#search-box {
  padding: .5em;
  width: 80%;
}

#create-comment {
  text-align: center;
  padding: 1em;
}
















.api-apod-container {
  box-sizing: border-box;
  overflow: scroll;
  height: auto;
  margin: auto;
  padding: 2% 8%;
}

input[placeholder] {
  border: 3px solid #2ECAFF;
  color: #5b5b5b;
}

body {

  background-size: cover;
}

button {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  border: 3px solid #5b5b5b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

input:hover {
  cursor: pointer;
}

legend {
  margin-top: 7%;
  margin-bottom: 7%;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

label {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

.single-search-result {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

.single-search-result:hover {
  // color: #2ECAFF;
  cursor: pointer;
}

#sign-out {
  float: right;
  margin-top: 10px;
}

.message {
  font-size: 15px;
  color: white;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
