$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
/*! jQuery.Flipster, v1.0.1 (built 2015-11-02) */.flipster{display:block;overflow-x:hidden;overflow-y:visible;position:relative}.flipster:focus{outline:none}.flipster__container,.flipster__item{margin:0;padding:0;list-style-type:none;position:relative}.flipster__container{display:block;white-space:nowrap;word-spacing:-0.25em;transform-origin:50% 50%;backface-visibility:hidden}.flipster__item{display:inline-block;white-space:normal;word-spacing:normal;vertical-align:bottom}.flipster--click .flipster__item--past,.flipster--click .flipster__item--future{cursor:pointer}.flipster__item img{max-width:100%}.flipster__button{position:absolute;top:50%;display:block;appearance:none;background:none;border:none;padding:0;z-index:999;cursor:pointer;font-size:15px;opacity:.5;transition:opacity 500ms ease;margin:-1em 2em}.flipster__button svg{width:2em;stroke:currentColor;fill:transparent;stroke-width:3;stroke-linecap:round}.flipster__button:hover,.flipster__button:focus{opacity:1}.flipster__button--prev{left:0}.flipster__button--next{right:0}.flipster__nav,.flipster__nav__item{list-style-type:none;margin:0;padding:0}.flipster__nav{display:block;margin:0 0 4em;text-align:center;position:relative}.flipster__nav__item{display:inline-block;margin:0 .25em}.flipster__nav__link{display:block;color:inherit;padding:.5em 1em;position:relative;overflow:hidden;transition:all 250ms ease-out;transition-timing-function:cubic-bezier(.56, .12, .12, .98)}.flipster__nav__link::after{content:'';display:block;background:#232221;position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;transform:translateY(100%) translateY(-0.25em);transition:inherit}.flipster__nav__item--current>.flipster__nav__link,.flipster__nav__link:hover,.flipster__nav__link:focus{color:#fff}.flipster__nav__item--current>.flipster__nav__link::after,.flipster__nav__link:hover::after,.flipster__nav__link:focus::after{transform:translateY(0)}.flipster__nav__child{display:none;position:absolute;top:100%;left:0;right:0;margin-top:-1px;padding:.5em;background:#4e4441;z-index:1}.flipster__nav__child .flipster__nav__link{color:#fff}.flipster__nav__child .flipster__nav__link::after{background:#fff}.flipster__nav__child .flipster__nav__item--current>.flipster__nav__link,.flipster__nav__child .flipster__nav__link:hover,.flipster__nav__child .flipster__nav__link:focus{color:#232221}.flipster__nav__item--current .flipster__nav__child{display:block}.flipster--carousel .flipster__container,.flipster--carousel .flipster__item,.flipster--carousel .flipster__item__content{transition:all 350ms ease-in-out;transition-timing-function:cubic-bezier(.56, .12, .12, .98)}.flipster--carousel .flipster__item{perspective:800px}.flipster--carousel .flipster__item--past,.flipster--carousel .flipster__item--future{opacity:0;transition-delay:115ms}.flipster--carousel .flipster__item--past-2,.flipster--carousel .flipster__item--future-2{opacity:.6;transition-delay:90ms}.flipster--carousel .flipster__item--past-1,.flipster--carousel .flipster__item--future-1{opacity:.8;transition-delay:60ms}.flipster--carousel .flipster__item--past .flipster__item__content{transform:translateX(100%) rotateY(-20deg) scale(.5)}.flipster--carousel .flipster__item--past-2 .flipster__item__content{transform:translateX(25%) rotateY(40deg) scale(.65)}.flipster--carousel .flipster__item--past-1 .flipster__item__content{transform:rotateY(45deg) scale(.8)}.flipster--carousel .flipster__item--future .flipster__item__content{transform:translateX(-100%) rotateY(20deg) scale(.5)}.flipster--carousel .flipster__item--future-2 .flipster__item__content{transform:translateX(-25%) rotateY(-40deg) scale(.65)}.flipster--carousel .flipster__item--future-1 .flipster__item__content{transform:rotateY(-45deg) scale(.8)}.flipster--carousel.no-rotate .flipster__item--past .flipster__item__content{transform:translateX(175%) scale(.5)}.flipster--carousel.no-rotate .flipster__item--past-2 .flipster__item__content{transform:translateX(25%) scale(.65)}.flipster--carousel.no-rotate .flipster__item--past-1 .flipster__item__content{transform:translateX(0) scale(.8)}.flipster--carousel.no-rotate .flipster__item--future .flipster__item__content{transform:translateX(-175%) scale(.5)}.flipster--carousel.no-rotate .flipster__item--future-2 .flipster__item__content{transform:translateX(-25%) scale(.65)}.flipster--carousel.no-rotate .flipster__item--future-1 .flipster__item__content{transform:translateX(0) scale(.8)}.flipster--carousel .flipster__item--current .flipster__item__content{transform:translateX(0) rotateY(0deg) scale(1);transition-delay:60ms}.flipster--coverflow .flipster__container,.flipster--coverflow .flipster__item,.flipster--coverflow .flipster__item__content{transition:all 350ms ease-in-out;transition-timing-function:cubic-bezier(.56, .12, .12, .98)}.flipster--coverflow .flipster__item{perspective:800px}.flipster--coverflow .flipster__container{padding-bottom:5%}.flipster--coverflow .flipster__item__content{transform-origin:50% 100%;box-reflect:below 0 -webkit-gradient(linear, left bottom, left top, color-stop(.05, rgba(255,255,255,0.12)), color-stop(.2, transparent));-webkit-box-reflect:below 0 -webkit-gradient(linear, left bottom, left top, color-stop(.05, rgba(255,255,255,0.12)), color-stop(.2, transparent))}.flipster--coverflow .flipster__item__content img:only-child{display:block}.flipster--coverflow .flipster__item--past .flipster__item__content{transform-origin:0 50%;transform:scale(.75) rotateY(55deg)}.flipster--coverflow .flipster__item--future .flipster__item__content{transform-origin:100% 50%;transform:scale(.75) rotateY(-55deg)}.flipster--coverflow .flip-current .flipster__item__content{transform:rotateY(0deg)}.flipster--flat .flipster__container,.flipster--flat .flipster__item,.flipster--flat .flipster__item__content{transition:all 400ms ease-in-out}.flipster--flat .flipster__item--past,.flipster--flat .flipster__item--future{opacity:.5}.flipster--flat .flipster__item--past .flipster__item__content{transform:scale(.75)}.flipster--flat .flipster__item--future .flipster__item__content{transform:scale(.75)}.flipster--wheel{overflow:hidden}.flipster--wheel .flipster__container,.flipster--wheel .flipster__item__content{transition:all 400ms ease-in-out;transition-timing-function:cubic-bezier(.56, .12, .12, .98)}.flipster--wheel .flipster__container{padding-bottom:20%}.flipster--wheel .flipster__item__content{transform-origin:50% 100%}.flipster--wheel .flipster__item--past .flipster__item__content{transform-origin:100% 100%}.flipster--wheel .flipster__item--future .flipster__item__content{transform-origin:0 100%}.flipster--wheel .flipster__item__content img:only-child{display:block}.flipster--wheel .flipster__item--past .flipster__item__content{opacity:0;transform:rotateZ(-80deg) translate(-170%, 110%)}.flipster--wheel .flipster__item--future .flipster__item__content{opacity:0;transform:rotateZ(80deg) translate(170%, 110%)}.flipster--wheel .flipster__item--past-3 .flipster__item__content{opacity:1;transform:rotateZ(-60deg) translate(-70%, 75%)}.flipster--wheel .flipster__item--future-3 .flipster__item__content{opacity:1;transform:rotateZ(60deg) translate(70%, 75%)}.flipster--wheel .flipster__item--past-2 .flipster__item__content{opacity:1;transform:rotateZ(-40deg) translate(-17%, 30%)}.flipster--wheel .flipster__item--future-2 .flipster__item__content{opacity:1;transform:rotateZ(40deg) translate(17%, 30%)}.flipster--wheel .flipster__item--past-1 .flipster__item__content{opacity:1;transform:rotateZ(-20deg)}.flipster--wheel .flipster__item--future-1 .flipster__item__content{opacity:1;transform:rotateZ(20deg)}.flipster--wheel .flip-current .flipster__item__content{transform:rotateX(0deg)}

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: black;
}

.apod-results, .search-apod {
  color: #bc509c;
}

.fa-pencil, .fa-globe, .fa-space-shuttle {
  font-size: 20px;
}

.fa-trash-o {
  color: #2ECAFF;
  font-size: 20px;
}

.panel-default > .panel-heading {
  background-color: #fce2f4;
  border-color: #fce2f4;
}

.neo-result {
  font-size: 50px;
  text-align: center;
}

.picture-photo {
  margin: auto;
}

.favorite-description {
  color: #bc509c;
  font-size: 20px;
}


.picture-favorite:hover {
  border: 5px solid #fce2f4;
}

.apod-results {
  text-align: center;
}

.apod-photo {
  width: 90%;
  height: 90%;
}

.search-result-photo-mars {
  width: 99%;
  height: 99%;

}

.picture-photo {
  width: 95%;
  height: 95%;
}

.search-container {
  display: flex;
}

.search-parameters {
  flex-basis: 25%;
  margin: 2em;
}

.mars-rover-container {
  display: flex;
}

.search-mars {
  flex-basis: 10%;
  display: block;
  padding: 1em;
}

.mars-search-results {
  flex-basis: 85%;
  display: block;
}

.search-results {
  flex-basis: 80%;

}

body {
  padding-top: 80px;
}

.navbar-default {
    border-color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    background: url(../img/nav.jpg) center;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bc509c;
  background-color: #fce2f4;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bc509c;
    background-color: #fce2f4;
}

.favorites-container, .photo-description-container, .search-result-image-and-description {
  display: flex;
}

.small-comment-header {
  color: #bc509c;
  font-size: 19px;
}


.comments-header {
  color: #bc509c;
  text-align: center;
}

.single-search-result {
  border-radius: 3px;
  margin: 2em;
  padding: 1em;
  background-color: #fce2f4;
}

.search-result-photo {
  width: 80px;
  height: 130px;
  margin: 1em;
}

.search-result-description {
  flex-basis: 75%;
}

.picture-photo {
  flex-basis: auto;
  padding: 2em;
}

.picture-title {
  text-align: center;
  color: #bc509c;
}


.favorite-date {
  color: #bc509c;
}

.single-search-result-patents, .single-search-result-sounds, .single-search-result-mars {
  background-color: #fce2f4;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
}

.picture-description {
  flex-grow: 1;
  padding: 2em;
  font-size: 20px;
  font-weight: bold;
}

.change-comment {
  display: none;
  text-align: center;
}

.comment {
  padding: 2em;
}

.comment:hover .delete-comment {
  display: inline-block;
  cursor: pointer;
}

.picture-favorite:hover .delete-favorite {
  display: inline-block;
  cursor: pointer;
}

.delete-favorite {
  float: right;
  height: 22px;
  width: 22px;
  display: none;
  font-weight: bold;
  text-align: center;
  color: black;
}

.delete-comment {
  float: right;
  height: 25px;
  width: 25px;
  font-size: 30px;
  padding-right: 2em;
  display: none;
  font-weight: bold;
  text-align: center;
  color: black;
}

.favorites-list {
  flex-basis: 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #2ECAFF;
  background-color: black;
}

.comments-list {
  flex-basis: 80%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fce2f4;
  color: #2ECAFF;
}

.user-email {
  font-size: 14px;
}

.picture-favorite.selected {
  background-color: #fce2f4;
}

.comment-container {
  display: flex;
}

.picture-container {
  flex-basis: 33%;
}

.sign-in-container {
  display: flex;
}

#sign-up {
  flex-basis: 50%;
  text-align: center;
}

#sign-in {
  flex-basis: 50%;
  text-align: center;
}

.change-password-container {
  display: list-item;
  text-align: center;
}

#change-password {
  text-align: center;
}

.picture-favorite {
  padding: 1em;
  font-size: 15px
}

#search-box {
  padding: .5em;
  width: 80%;
}

#sounds-search-box {
  padding: .5em;
  width: 80%;
}

#create-comment {
  text-align: center;
  padding: 1em;
}

.api-apod-container {
  box-sizing: border-box;
  // overflow: scroll;
  height: auto;
  margin: auto;
  padding: 2% 8%;
}

input[placeholder] {
  border: 3px solid #2ECAFF;
  color: #5b5b5b;
}

body {

  background-size: cover;
}

button {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  border: 3px solid #5b5b5b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

input:hover {
  cursor: pointer;
}

.single-search-result {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #5b5b5b;
}

#sign-out {
  float: right;
  margin-top: 10px;
}

.message {
  font-size: 17px;
  text-shadow: 2px 2px black;
  color: white;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
